 /* =========================================================
 * Scrollbars
 * ========================================================= */

#stylePicker::-webkit-scrollbar {
    height: 3px;
    padding: 20px;
}

#stylePicker::-webkit-scrollbar-track {
}

#stylePicker::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: gray;
}

 /* =========================================================
 * Baseline styles
 * ========================================================= */

body {
	font-family: 'Open Sans', sans-serif;
	background: #ececec;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	margin: 20px 0 10px 0;
	opacity: 0.5;
	letter-spacing: 0.05em;
}


a, a:hover {
	text-decoration: none;
	color: black;
}

span.unit {
	font-size: 22px;
	font-weight: 400;
}

ul {
	padding: 0;
}

button {
	outline: none !important;
}

.clearfix {
    display: inline-block;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 100%;
}

 /* =========================================================
 * Header
 * ========================================================= */

header {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0;
	height: 64px;
	color: #3d4e5b;
	z-index: 100;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	background: #ffffff;
	z-index: 1000;
	overflow: hidden !important;
}

header a {
	cursor: pointer;
}

/* --------------------------
 * brand name element styles
 * left in for later i'm lazy
 * -------------------------- */

#splash {
	z-index: 55;
	position: fixed;
	background: #fff;
}

#splash h1 {
	text-align: center;
	font-family: "Montserrat";
	font-size: 8em;
	font-weight: 700;
	color:#f37a4d;
	display: none;
	text-transform: uppercase;
	text-shadow: 5px 5px 2px #3d4e5b;
}

#splash h1 span {
	text-shadow: 5px 5px 2px #f37a4d;
	color:#3d4e5b;	
}

#splash img {
	height: 50px;
	width: 50px;
	display: block;
	left: -12.5px;
	position: relative;
	margin: 0 auto;
}

.logo {
	height: 64px;
	width: 94px;
	display: inline-block;
	float: left;
	background: url('../images/logo.png');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

select {
	display: inline-block;
	outline: 0 !important;
	background: transparent;
	margin: 0 20px;
	font-size: 16px;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
}

p {
	font-size: 15px;
	color: black;
}

span.line {
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.1);
	display: block;
	margin: 30px 0;
}

header .searchbox {
	width: 33%;
	margin: 14px 20px;
	background: #e4e9ee;
	border-radius: 2px;
	position: relative;
	flex: 1;
	top: 0;
	padding: 8px;
	padding-left: 50px;
	background-image: url('../images/icons/search_dark.svg');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 14px 50%;
	float: right;
	display: inline-block;
	color: black;
}

		.searchbox input {
			width: 100%;
		}

			input.unstyled, textarea.unstyled {
				padding: 0;
				margin: 0;
				border: none;
				outline: none;
				resize: none;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				background: rgba(0,0,0,0);
				color: black;
			}

.pushBelowHeader {
	margin-top: 64px;
}

.navTitleMobile {
	position: absolute;
	top: 0;
	left: 72px;
	font-size: 18px;
	margin: 20px 0;
}

.navDesktop {
	display: inline-block;
}

.navDesktop a, .filterBtn span {
	color: rgba(0,0,0,0.5);
	font-weight: 600;
	font-size: 16px;
	padding: 22px;
	display: inline-block;
	height: 64px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-transform: uppercase;
}

.navDesktop a.selected {
	border-bottom: 2px solid #f37a4d;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	color: #f37a4d;
}

.filterBtn {
	background: none;
	border: 0;
	padding: 0;
	float: right;
}

.menuBtn {
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	border: 0;
	padding: 0;
}


.nav_icon {
	background-size: 24px;
	display: inline-block;
	height: 24px;
	margin: 20px 24px;
	width: 24px;
	-webkit-user-drag: none;
	opacity: 1;
	float: left;
	z-index: 10;
}

.nav_icon.stay {
	z-index: 99;
	position: fixed;
}

.filterBtn span {
	padding-left: 0;
	padding-right: 30px;
}

polygon {
	-moz-transition: 	all .28s;
	-webkit-transition: all .28s;
	transition: 		all .28s;
}

header.detail-view polygon {
	fill: white;
}

 /* =========================================================
 * Filter
 * ========================================================= */

#stylePicker {
	margin-top: 60px;
	padding: 60px;
	background: #ececec;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 60px;
	width: 100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	text-align: center;
}

.styleDiv {
	display: inline-block;
	width: 200px;
	height: 200px;
	background: white;
	padding: 20px;
}

 /* =========================================================
 * Beers Results
 * ========================================================= */

.container {
	max-width: 850px;
}

.container2 {
	margin: 0 auto;
	max-width: 850px;
	padding: 0;
}

#brewerResults .row {
	padding: 20px 0;
}

.beerTitle {
	display: inline-block;
}

.beerData {
	display: inline-block;
	width: 100px;
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.right {
	float: right;
}

#beerResults {
	padding-top: 60px;
	width: 100%;
	-moz-transition: 	all .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: 		all .28s cubic-bezier(.4,0,.2,1);
}

	#beerResults .row {
		margin-bottom: 20px;
	}

.beerListImg {
	/* width: 100%; */

}

h3 {
	font-size: 16px;
	font-weight: 600;
}

.beerTitle p {
	opacity: 0.5;
}

.beerTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 70px);
}

.beer-icon {
	float: left;
	padding: 17px;
	padding-bottom: 0;
	padding-right: 17px;
	height: 70px;
	padding-left: 0;
}

h1 {
	font-size: 45px;
	font-weight: 300;
	margin: 0;
	color: black;
}

.detail-hero {
	width: 100%;
	height: 100%;
	height: 270px;
	z-index: -1;
}

.detail-hero.taller{
	height: 320px;
}

.half {
	width: 50%;
	display: inline-block;
	float: left;
}

 /* =========================================================
 * Brewery Map
 * ========================================================= */

#vancouverMap {
	width: 100%;
	height: 650px;
	background: #3d4e5b;
	position: relative;
	-moz-transition: 	width .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: width .28s cubic-bezier(.4,0,.2,1);
	transition: 		width .28s cubic-bezier(.4,0,.2,1);
}

#fab {
	z-index: 50;
}

.fab-btn:before, .fab-btn:after {
	background: no-repeat 50% 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	content: "";
	height: 56px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-moz-transition: 	all .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: 		all .28s cubic-bezier(.4,0,.2,1);
	width: 56px;
}

.fab-btn {
	display: inline-block;
	position: absolute;
	outline: none;
	-webkit-user-select:	none;
	user-select: 			none;
	cursor: pointer;
	z-index: 0;
	box-sizing: border-box;
	width: 56px;
	height: 56px;
	background: #f37a4d;
	color: #fff;
	border-radius: 50%;
	padding: 16px;
}

#vancouverMap .btn-next {
	position: absolute;
	left: 50%;
	margin-left: -28px;
	bottom: -28px;
}

#vancouverMap .btn-next:after {
	background: url(../images/icons/fab-icons_white.svg) no-repeat;
	-webkit-background-size: 56px;
	background-size: 56px;
	background-position: top;
	-webkit-background-position: top;
	opacity: 1;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.map-container {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	background: #3d4e5b;
}

.angular-google-map-container { 
	height: 680px;
}

.mobile {
	display: none;
}

.big-icon {

}

 /* =========================================================
 * Drop Down Select List
 * ========================================================= */

.styled-select {
	width: 50%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background: url(../images/icons/down_arrow.png) no-repeat right #ddd;
	border: 1px solid #ccc;
	padding: 0 5px;
	margin-top: 21px;
}

.styled-select select {
	background: transparent;
	width: 100%;
	height: 34px;
	padding: 5px;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

 /* =========================================================
 * filter panel
 * ========================================================= */


#filter-panel {
	width: 300px;
	height: 100%;
	position: fixed;
	background: #ececec;
	z-index: 10;
	right: 0;
	margin-right: -300px;
	border-left: 1px solid rgba(0,0,0,0.1);
	-moz-transition: 	all .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: 		all .28s cubic-bezier(.4,0,.2,1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	padding-top: 84px;
}

#filter-panel.open {
	margin-right: 0;
}

 /* =========================================================
 * filter panel
 * ========================================================= */

header.tabbed {
	height: 110px;
}

header.detail-view {
	position: absolute;
	height: 380px;
	overflow: hidden;
	color: white;
	background: #43B7DB;
}

.detail-view .nav_icon {
	position: fixed;
}

.detail-view .navTitleMobile {
	bottom: 10px;
	top: initial;
	z-index: 20;
	font-family: "Montserrat";
}

#detailContent {
	position: absolute;
	margin-top: 380px;
	width: 100%;
	margin-bottom: 100px;
	background: #ececec;
}

.detail-title, .detail-title-2 {
	background: white;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 110px;
	z-index: 20;
}

.detail-title-2 {
	height: 64px;
}

.detail-title span, .detail-title-2 span {
	color: #3e4e5b;
	font-size: 18px;
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.detail-title span, .detail-title-2 span {
	text-align: left;
	margin-left: 72px;
}

.detail-view .detail-title span, .detail-view .detail-title-2 span {
	text-align: center;
	margin-left: 0px;
}

.detail-view .shadow {
	width: 100%;
	height: 60px;
	background: black;
	top: 0;
	position: fixed;
	z-index: -1;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

img.headerImage {
	display: none;
}

.detail-view img.headerImage {
	width: 100%;
	position: absolute;
	z-index: -2;
}

.heroImage {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
}

.placeholderImg {
	max-width: 500px;
	width: 100%;
}

#detailContent section {
	padding: 20px 0;
}

p.temporary-text {
	position: absolute;
	top: 250px;
	color: white;
	text-align: center;
	width: 100%;
	opacity: 0.5;
}

.card, .card2 {
	display: inline-block;
	background: white;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	width: 48%;
	margin: 1%;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 30%;
	position: relative;
	-moz-transition: 	all .28s cubic-bezier(.4,0,.2,1);
	-webkit-transition: all .28s cubic-bezier(.4,0,.2,1);
	transition: 		all .28s cubic-bezier(.4,0,.2,1);
}

.card:hover, .card2:hover {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.card a {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px;
}

.card a p {
	padding-top: 50%;
}

#brewerResults, #beerResults {
	margin-bottom: 60px;
}

.card2 {
	padding: 0;
	width: 100%;
	text-align: left;
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.brewery-logo {
	height: 100%;
}

.detail-img {
	margin: 0 auto;
	display: inherit;
	height: 150px;
	margin-top: 60px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -75px;
}

.detail-img-2 {
	margin: 0 auto;
	display: inherit;
	height: 180px;
	margin-top: 70px;
}

#detail-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: #425260;
	opacity: 0;
}

.nav-tabs {
	background: none;
	border: 0;
}

.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: none !important;
	border: 0;
}
.twotabs li {
	width: 50%;
}

.nav-tabs {
	background: none;
	border: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

.nav-tabs > li {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

	.nav-tabs > li > a {
		color: #3e4e5b !important;
		opacity: 0.6;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		padding: 14px;
	}

.nav-tabs li.active {
	border-bottom: 2px solid #2cc3f3;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	.nav-tabs > li.active > a {
		opacity: 1;
	}

.tab-content {
	margin-top: 40px;
}

.after-icon {
	overflow: hidden;
	margin-bottom: 30px;
}

.after-icon p {
	font-size: 13px;
}

.info-icon {
	float: left;
	margin-left: 8px;
	margin-right: 30px;
	opacity: 0.5;
}

.big-icon {
	width: 75px;
	margin: 0 auto;
	display: inherit;
	margin-top: 20px;
}


/* ANIMATIONS
============================================================================= */

/*

@keyframes slideOutRight {
	from	{ transform: translateX(0%);}
    to      { transform: translateX(100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
	from	{ transform: translateX(0%);}
    to      { transform: translateX(100%); }
}

@keyframes slideOutLeft {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

.page-home.ng-enter {
	z-index: -1;
}

.page-home.ng-leave {
	z-index: -1;
}

.page-details.ng-enter        { 
	animation:slideInRight 200ms both ease-in; 
	z-index: 99999999;
}
.page-details.ng-leave        { 
	animation: slideOutRight 200ms both ease-in;
	animation: slideOutRight 200ms both ease-in;
	z-index: 99999999; 
}
*/
